* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  cursor: none !important;
   letter-spacing: -1px;

}

body {
      font-family: 'Inter', sans-serif;
      background-color: #FF5701;
         width: 100%;
   

}

 a {  
  text-decoration: none;
}


::-moz-selection { /* Code for Firefox */
  background: #9DFF00;
}
::selection {
  background: #9DFF00;
}




#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 10000;
    transition: width 0.2s ease, height 0.2s ease, background-color 0.2s ease;
  transform: translate(-50%, -50%);
}

#custom-cursor.big {
  width: 20px;
  height: 20px;
  background-color: white; /* optional: change color to highlight */
}





                  /* NAVBAR */
                  /* NAVBAR */




    
.topnav {
  position: fixed;           
  top: 0;
  left: 0;
  width: 100%;
  padding: 14px 14px;
  z-index: 1000;             
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.topnav a {
  backdrop-filter: blur(10px);
  
  color: #090909;
    font-weight: 350;
  text-decoration: none;
  font-size: 20px;


}


.topnav a:hover {
  color: #9DFF00;
}


.nav-left {
  display: flex;
  gap: 20px;
}

.topnav-right {
  display: flex;
}






                      /* TAMANHOS MENORES */
                      /* TAMANHOS MENORES */





@media (max-width: 640px) {
   .trash {
  display: none;
 }
  .topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 14px;
    z-index: 1000;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
  }

  .nav-left {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    gap: 14px;
  }

  .topnav-right {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .topnav a {
  
    margin: 0;
  }



}


  .centered-content {
      display: flex;
      flex-direction: column;
        margin-top: 50vh;
      align-items: center;
      gap: 20px; /* Space between image and video */
      opacity: 0;
        animation: slideUp 1.5s ease forwards;

    }


@keyframes slideUp {
      to {
        margin-top: 20vh;
        opacity: 1;
      }
    }


img {
      width: 45%;
      height: auto;
    }

video {
      width: 50%;
      height: auto;
    }






.back {
  position: fixed;

  top: 45%;
  left: 100px;    
color: #090909;
  text-align: center;
  transition: scale 0.5s ease;


}

.next  {
  right: 100px;
  top: 45%;   

  position: fixed;
color: #090909;
  text-align: center;
  transition: scale 0.5s ease;


}

a  {
text-decoration: none;
color: #090909;
}


 
.back:hover {
  scale: 110%;
}

.next:hover {
  scale: 110%;
}





@media (max-width: 768px) {
  .cursor-link {
    display: none !important;
  }
  .back {
    display: none;
  }
  .next {
    display: none;
  }

}

 